@import url('https://fonts.googleapis.com/css?family=Russo+One|Ubuntu&display=swap');
body {
  padding-top: 65px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ubuntu', sans-serif;
  background-color:  #659DBD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
h1,h2,h3{
  font-family: 'Russo One', sans-serif;
}
ul,
li {
  margin: 0;
  padding: 0;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.LogForm {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  
  font-family: Georgia, "Times New Roman", Times, serif;
}

.fields {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}


.LogForm {
width: 500px;
height: 600px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 0 auto;

}

.fields {
  font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;

}
.errors {
	color-adjust: red;
}

.modalcard {
  width:500px;
  height: 500px;
}

.modalcard h1 {
  align-items: center;
  display: flex;
  justify-content: center;
}



.logLink {
  font-size: 25px;
  text-decoration: none;
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
 background-color: #8D8741;
 color: white;
 width: 300px;
 align-self: center;
 margin: 0 auto;
 
}

.logLink:hover {
  background-color: #BC986A;
  color: white;
}

li {
  
  padding-bottom: 5px;
}


h1 {
  font-size: 50px;
}

.hBVqnq {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  display: flex;
  justify-content: center;
}

.dlGSFB {
  width: 500px;
  border-radius: 4
}

ul {
  border-bottom: 1px solid;
}


.logprofile {
  background-color: #FBEEC0;
}
.userprof {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userprof h2 {
  font-size: 50px;

}

.userprof h3 {
  font-size: 30px;
}